[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
altair = "*"
pandas = "1.2.5"
numpy = "1.21.2"

[dev-packages]

[requires]
python_version = "3.7.12"
